*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

/*
.box{
    background-color:red;
    height:100px;
    width:100px;
}
    */
body{
    background-color: #EB06F8;
} 

.container{
    
    max-width:1200px;
    height:800px;
    background-color:black;
    /*margin:120px;*/
    
    
    margin:80px 60px;

}

.box{
    width:100%;
    height:200px;
    /*background:white;*/
}

.box_container{
    display:flex;
}

.box1{
    background-color:#e7caff;
}
.box2{
    background-color:#e7caff;
}
.box3{
    background-color:#7e45a8;
}
.box4{
    background-color:#ab47fb;
}
.box5{
    background-color:#9a38ef;
}
.box6{
    background-color:#7629b2;
}
.box7{
    background-color:#348c53;
}
.box8{
    background-color:#568e8d;
}

/*big screen media query */
@media screen and (width>1200px){
    .container{
        margin:80px auto;
    }
}
/*medium screen media query */
@media screen and (width <1200px) and (width>450px){
  .container{
        margin:40px auto;
  }
}
/*small screen media query */
@media screen and (width<450px){
    .container{
         margin:24px 16px
    }
}