*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

/*
.box{
    background-color:red;
    height:100px;
    width:100px;
}
    */
body{
    background-color:#7ADFFF;
} 

.container{
    
    max-width:1200px;
    min-height:800px;
    
    /*margin:120px;*/
    
    
    margin:72px auto;
    padding:0 16px;
    

}
.box{
    width:100%;
    height:269px;
    background-color:white;
}
.grid{
    display:grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
    gap:20px;
}


/*big screen media query */
@media screen and (width>1200px){
    .grid{
        
        grid-template-columns:1fr 1fr 1fr 1fr;
        
    }
    .container{
        margin:72px auto;
    }
    
}
/*medium screen media query */
@media screen and (width <1200px) and (width>450px){
    .grid{
        
        grid-template-columns:1fr 1fr 1fr;
        gap:16px;
        
    }
    .container{
        margin:40px auto;
    }
  
}
/*small screen media query */
@media screen and (width<450px){
    .grid{
        
        grid-template-columns:1fr 1fr ;
        gap:16px;
        
    }
    .container{
       margin:20px auto;
    }
    
}